*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
.externalNativeBuild
keystore/
/app/keystore
/app/debugkey.jks
/app/releasekey.jks
将删除 app/src/main/assets/jason/
